*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none; 
    color: black;
}
li{
    list-style: none;
}
button{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
/*header*/
.header{
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header a{
    color: white;
}
.header p, span{
    font-family: 'Pattaya', sans-serif;
    font-size: 32px;
    padding: 12px;
}
.header span{
    padding-right: 0 ;
}

.header .options{
    display: flex;
    gap: 50px;
}
.header .options a{
    
    font-weight: 500;
    padding: 12px;
}
.others button{
    padding-left: 12px;
}
.others i{
    font-size: 20px;
}

/*main*/
main{
    max-width: 1320px;
    padding: 100px 0;
    margin: 0 auto;
}
img{
    max-width: 100%;
    ;
}

.image{
    position: relative;
    border-radius: 10px;
    
}

.text{
    position: absolute;
    top: 140px;
    left: 72px;
}
.text h1{
    padding-bottom: 36px;
    max-width: 50%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 60px;
}
.text p{
    font-size: 24px;
    max-width: 50%;
    font-family: 'Chakra Petch', sans-serif;
}

/*footer*/
.footer{
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.footer h3{
    margin-bottom: 16px;
}
.footer li{
    line-height: 24px;
}
.footer i{
    padding-right: 8px;
}

